@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans Math', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Noto Sans Math', sans-serif;
}

.flexVertically {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.calculator {
    background-color: #f7faff;
    border: none;
    border-radius: 20px;
    box-shadow: 8px 8px 15px #0087F324, -10px -10px 15px #ffffff;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-auto-rows: 70px;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.display {
    text-align: right;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display:focus{
    outline: #00C9A7 1px solid;
}

#subDisplay {
    font-size: 1em;
    margin: 15px 15px 0;
    color: rgba(0, 0, 0, 0.5);
    height: 20px;
}

#mainDisplay {
    font-size: 2em;
    margin: 5px 15px 15px;
    color: #0087F3;
}

.button {
    background-color: #F9FBFF;
    border: 1px solid #0086f318;
    border-radius: 20px;
    font-size: 1.5em;
    color: #0087F3;
    cursor: pointer;
    box-shadow: 8px 8px 15px #0087F324, -10px -10px 15px #ffffff;
}

.button:active {
    transform: scale(0.95);
}

.number {
    font-size: 1.5em;
    color: black;
}

.history {
    background-color: #f7faff;
    width: 365px;
    max-width: 55px;
    max-height: 55px;
    overflow: hidden;
    margin: 0 25px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    border: none;
    border-radius: 15px;
    box-shadow: 8px 8px 15px #0087F324, -10px -10px 15px #ffffff;
    transition: all 0.2s ease-in;
}

#iconHistory {
    height: 55px;
    width: 55px;
    padding: 15px;
    filter: invert(39%) sepia(20%) saturate(6822%) hue-rotate(187deg) brightness(96%) contrast(102%);
}

.historyTitle {
    margin: 5px auto 10px;
    font-size: 2em;
    color: #0087F3;
    left: -25px;
    position: relative;
}

.historyContent {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

p{
    margin: 5px 0 5px 15px;
}

sup {
    font-size: 60%;
}